.buildpath
.idea/
.project
*.pem
Gemfile
Gemfile.lock
LOCK.tmp
MyVars.rb
VCE-TestRail-Data
configs/Creds-*
configs/*time.file
configs/test-*
configs/JP-*
coverage/
pkg/
rake-spec.log
rallylog.log*
reldir*
show-test-case.vars.rb
test_configuration_helper.rb
create-1pr-*
For-JohnM*
