.buildpath
.idea/
.project
*.pem
Gemfile
Gemfile.lock
LOCK.tmp
VCE-TestRail-Data
configs/Creds-*
configs/*time.file
configs/test-*
configs/JP-*
coverage/
pkg/
rake-spec.log
rallylog.log*
reldir*
tools/*.vars.rb
tools/MyVars.rb
tools/create-1pr-*
test_configuration_helper.rb
For-JohnM*
